/* Styles globaux */
* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  color: #202124;
  margin: 0;
  width: 100%; 
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode {
  background-color: #202124;
  color: #e8eaed;
}
.App {
  margin: 0 auto;
  max-width: 90%;
  /* width: 95%; */
  overflow-x: hidden;
}
h1, h2 {
  color: #202124;
  text-align: center;
}

body.dark-mode h1, body.dark-mode h2 {
  color: #e8eaed;
}

/* Barre de navigation */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f1f3f4;
  margin: 10px auto 20px;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
  transition: background-color 0.3s ease;
  width: 100%;
  /* max-width: 1200px; */
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 10px;  
    margin-bottom: 10px; 
    gap: 10px;
    width: 100%;
  }
}

body.dark-mode .navbar {
  background-color: #202124;
}

.nav-button, .dark-mode-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px 12px;
  font-size: 1rem;
  color: #5f6368;
}

.nav-button:hover, .dark-mode-toggle:hover {
  background-color: rgba(95,99,104,0.157);
  border-radius: 4px;
}

body.dark-mode .nav-button, 
body.dark-mode .dark-mode-toggle {
  color: #e8eaed;
}
@media (max-width: 768px) {
  
  .search-bar {
    width: 90%;
    margin: 10px 0;
  }

  .sort-select {
    width: 33%;
  }
}
/* Bouton de mode sombre */
.dark-mode-toggle svg {
  width: 24px;
  height: 24px;
  fill: #202124;
  transition: fill 0.3s ease;
}

body.dark-mode .dark-mode-toggle svg {
  fill: #e8eaed;
}

/* Barre de recherche */
.search-bar {
  flex-grow: 0.5;
  margin: 0 20px;
}

.search-bar input {
  width: 100%;
  padding: 8px 12px;
  font-size: 1rem;
  border: 1px solid #dadce0;
  border-radius: 8px;
  background-color: #fff;
  outline: none;
  transition: box-shadow 0.3s ease;
}

.search-bar input:focus {
  box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.2);
}

body.dark-mode .search-bar input {
  background-color: #525355;
  border-color: #5f6368;
  color: #e8eaed;
}

/* Sélecteur de tri */
.sort-select {
  padding: 8px 12px;
  font-size: 1rem;
  border: 1px solid #dadce0;
  border-radius: 4px;
  background-color: #fff;
  outline: none;
}

body.dark-mode .sort-select {
  background-color: #525355;
  border-color: #5f6368;
  color: #e8eaed;
}

/* Formulaire de tâche */
.task-form-dropdown {
  max-width: 600px;
  margin: 0 auto 20px;
}

.task-form-toggle {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  color: #5f6368;
  border: 1px solid #dadce0;
  border-radius: 0;
  font-size: 1.2rem;;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}

.task-form-toggle:hover {
  background-color: #f1f3f4;
}

.task-form-toggle svg {
  transition: transform 0.3s ease;
  fill: #5f6368;
  width: 24px;
  height: 24px;
}

.task-form-toggle.open svg {
  transform: rotate(-180deg);
}

body.dark-mode .task-form-toggle {
  background-color: #525355;
  border-color: #5f6368;
  color: #e8eaed;
}

body.dark-mode .task-form-toggle:hover {
  background-color: #3c4043;
}

.task-form {
  max-width: 600px;
  margin: 0 auto 30px;
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-title, .form-content {
  width: 97%;
  padding: 8px;
  margin-bottom: 10px;
  border: 2px solid #dadce0;
  border-radius: 4px;
  resize: vertical;
}

.form-title {
  height: 30px;
  font-size: 1.2rem;
  font-weight: 600;
}

.form-content {
  height: 150px;
  font-size: 1rem;
  font-weight: 300;
}

.task-form button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #883938;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.task-form button[type="submit"]:hover {
  background-color: #804140;
}

body.dark-mode .task-form {
  background-color: #525355;
}

body.dark-mode .task-form input,
body.dark-mode .task-form textarea {
  background-color: #202124;
  /* color: #e8eaed; */
  border-color: #5f6368;
}

body.dark-mode .task-form button[type="submit"] {
  background-color: #b27b7a;
  color: #202124;
}

body.dark-mode .task-form button[type="submit"]:hover {
  background-color: #caaead;
}
@media (max-width: 768px) {
  .task-form-dropdown {
    width: 100%;
    margin: 20px auto;
  }

  .task-form, .task-form-toggle {
    width: 100%;
    /* width: 100%; */
    /* margin-top: 20px; */
  }

  .task-form-toggle {
    font-size: 1rem;
  }
}

/* Grille de tâches */
.task-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 90%;
  /* max-width: 1200px; */
  justify-content: center;
  margin: 0 auto 30px;
  padding-bottom: 4rem;
}

.task-grid-title {
  font-size: 1.5rem;
  margin: 3rem 0;
  width: 100%;
  text-align: center;
}

@media (max-width: 768px) {
  .task-grid {
    width: 95%;
    gap: 15px;
    margin-bottom: 5rem;
    padding-bottom: 4rem;
  }
}
/* Carte de tâche */

.task-card:hover {
  box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149);
}

.task-card h3 {
  margin: 0 0 15px 0;
  font-size: 1.2rem;
  color: #202124;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.task-card p {
  margin: 0 0 12px 0;
  font-size: 1rem;
  color: #5f6368;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-height: 300px;
  overflow-y: auto;
}

.task-card-actions {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 8px;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.icon-button:hover {
  background-color: rgba(95,99,104,0.157);
}

.icon-button svg {
  width: 1.2rem;
  height: auto;
  fill: #0e0e0e;
}

.icon-button svg:hover {
  fill: #3b4b69;
}
/* Carte de tâche */
.task-card {
  background-color: #fff;
  width: calc(33% - 20px);
  min-width: 250px;
  /* max-width: 300px; */
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
  transition: box-shadow 0.3s ease;
}

@media (max-width: 1024px) {
  .task-card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .task-card {
    width: 100%;
    max-width: none;
  }
}
/* Tags */
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 12px;
}

.tag {
  background-color: #e8eaed;
  color: #3c4043;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
}

body.dark-mode .tag {
  background-color: #3c4043;
  color: #e8eaed;
}

/* Sélecteur de couleur */
.color-picker {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}

.color-picker button {
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  border: 2px solid #883938;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.color-picker button:hover {
  transform: scale(1.199);
}

.color-picker button.selected {
  border: 2px solid #b27b7a;
}

body.dark-mode .color-picker button.selected {
  border-color: #caaead;
}

/* Footer */
footer {
  background-color: #883938;
  color: #fff;
  padding: 10px 20px;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  /* max-width: 1200px; */
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
  transition: background-color 0.3s ease;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  footer {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 0.5rem 20px;
}

.footer-content p {
  margin: 0;
  color: #fff;
  font-size: 1rem;
}

.footer-content .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content .social-icons a {
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
}

.footer-content .social-icons svg {
  width: 24px;
  height: 24px;
  fill: #fff;
  transition: fill 0.3s ease;
}

.footer-content .social-icons a:hover svg {
  fill: #e8eaed;
}

body.dark-mode footer {
  background-color: #202124;
}

body.dark-mode .footer-content p,
body.dark-mode .footer-content .social-icons a {
  color: #e8eaed;
}

body.dark-mode .footer-content .social-icons svg {
  fill: #e8eaed;
}

body.dark-mode .footer-content .social-icons a:hover svg {
  fill: #fff;
}

/* @media (max-width: 480px) {
  footer {
    padding: 10px;
    margin-bottom: 10px;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }
  
  .footer-content p {
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .footer-content .social-icons a {
    margin: 0 0.5rem;
  }
} */
@media (max-width: 768px) {

  .footer-content {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 10px;
  }
  
  .footer-content p {
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .footer-content .social-icons a {
    margin: 0 0.5rem;
  }
}